-Same functionality 
-Password login
-Seperate online + offline
-PHP that writes the HTML, SQL
-Database system
-Export XML songlist from online to offline

- Dont worry about key of song

-copy/download song list
-update songlist

- Not sure if you have done this or not, but for the Song book program could you make the mouse invisible when it’s presenting the song
Not now, just when ever. Thanks



THINGS TO DO

-Make main screen extent vertically
-Do song list thingy
-Do controls for presentation (left,right,up,down) DONE

-Font adjustment DONE

-DONT EXIT on end of song, only escape for exit. Just keep on last paragraph if pressed again. DONE

-DO SEARCH ALPHABETIALLLY

- DO SAVE TO FILE